.bodyfabian {
    background: rgb(43, 43, 51);
    background: linear-gradient(41deg, rgba(43, 43, 51, 1) 0%, rgba(155, 218, 255, 1) 100%);
}


ul a {
    text-decoration: none;
    padding: 5px;
    color: white;

}

.menumobile{
    display: none;
}


.peopleimgs img{
    max-width: 280px;
}

.wildysborder{
    border: 3px dashed rgb(5, 218, 5);
}

.fa-heart {
    color: rgb(226, 60, 60);
}


@media only screen and (max-width: 768px) { 
    .wildysborder{
        border: 5px dashed rgb(218, 5, 5);
    }
    .menumobile{
        display: block;
    }
    .navbar-nav, li {
        display: none;
    }
    .mobilewrap{
        display: flex;
        flex-wrap: wrap;
    }

    .col6 {
        display: none;
    }
}